#table {
    margin: 0 80px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 16px;

    .table__tag-row {
        margin-bottom: 25px;
        position: relative;
        display: flex;
        align-items: flex-end;

        .tags {
            font-size: 12px;
            font-weight: bold;
        }

        .btn--watchlist {
            padding: 6px 8px;
            border-radius: 10px;
            border: none;
            margin-right: 20px;

            .watchlist-icon {
                color: #ccc;
            }

            &:hover .watchlist-icon {
                color: #fff500;
            }

            &::after {
                content: '';
                position: absolute;
                background: #000;
                height: 25px;
                width: 2px;
                left: 110px;
                top: 5px;
            }
        }
    }
}
