.accoun__item {
    display: flex;
    gap: 4px;
    align-items: center;

    & img {
        width: 26px;
        height: 26px;
        border-radius: 80px;
        margin-right: 15px;
    }

    p {
        font-size: 12px;
        font-weight: bold;
    }

    small {
        font-size: 11px;
        font-weight: normal;
    }

    .btn__follow {
        width: 65px;
        font-size: 12px;
        background: #408cf6;
        border-radius: 10px;
        padding: 4px 8px;
        border: none;
        color: #fff;
        margin-left: 12px;
        cursor: pointer;
        transition: all 0.2s ease-in;

        &:hover {
            background-color: #73adff;
        }
    }
}
