.settings {
    width: 520px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 72px;
    position: relative;
    &__title {
        text-align: start;
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: 500;
    }
    &__avatar {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;
        & p {
            font-size: 16px;
            font-weight: 500;
        }
        & img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    &__input {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        & div {
            display: flex;
            flex-direction: row;
            position: relative;

            & img {
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 24px;
                margin-left: 8px;
            }
            & input,
            textarea {
                width: 480px;
                background-color: #ccc;
                border: none;
                border-radius: 10px;
                padding: 16px 8px 16px 40px;
                font-size: 16px;
                outline-offset: -1px;
                margin-top: 8px;
            }
        }
    }
    &__button {
        margin-top: 12px;
        display: flex;
        justify-content: flex-start;
        gap: 12px;
    }
    label,
    button {
        text-align: center;
        border-radius: 10px;
        border: none;
        background-color: #408cf6;
        font-size: 14px;
        color: white;
        padding: 4px 20px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            background-color: #73adff;
        }
    }
    &__file {
        display: none;
    }
}
