.convert {
    width: 1500px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-basis: 50%;
    &::before {
        content: '';
        position: absolute;
        width: 3px;
        height: 85px;
        background-color: #ccc;
        left: 29.2%;
    }

    .symbol-image {
        height: 32px;
        width: 32px;
        border-radius: 80px;
    }

    .convert__token {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 320px;

        .convert_token--symbol {
            display: flex;
            align-items: center;
            gap: 10px;

            & span {
                font-size: 11px;
                color: #9ba1bf;
            }

            & p {
                font-size: 14px;
                font-weight: bold;
            }
        }
    }

    .transfer {
        width: 32px;
        height: 32px;
        border-radius: 80px;
        background-color: #ccc;
        position: relative;

        & p {
            color: #fff;
            margin-left: 8px;
            margin-top: 4px;
        }
    }

    .value-token {
        width: 60px;
    }
}
